<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Payment Page</h1>
<p>You are about to pay ₦{{amount}} for {{drug}}.</p>

<form action="/payment/paystack" method="POST">
  <label>Email:</label>
  <input type="email" name="email" required>

  <label>Amount (₦):</label>
  <input type="number" name="amount" value="{{amount}}" required>

  <label>Phone Number:</label>
  <input type="text" name="number" required>

  <button type="submit">Proceed to Paystack</button>
</form>
</body>
</html>